//- mixin for navigation items
mixin nav-item (navLinkText, navLinkIcon)

  //navigation item
  li.nav__item
  
    //navigation link
    a.nav__link(href="#" title= navLinkText)
      i.nav__link-icon.material-icons= navLinkIcon
      = navLinkText


//page block includes a navigation and a content block 
.page

  //navigation
  nav.nav
  
    //close button
    .nav__close
      
    //navigation list
    ul.nav__list
      
      +nav-item('Home', 'home')
      +nav-item('About', 'equalizer')
      +nav-item('Tour', 'business_center')
      +nav-item('Settings', 'settings')
      +nav-item('Plans', 'grade')
      +nav-item('Log In', 'perm_identity')
  
  //content part
  .page__content
  
    //open navigation button
    .nav-open-btn
      .nav-open-btn__bar
      .nav-open-btn__bar
      .nav-open-btn__bar
  
    //content block
    .content
      
      h1 Off-Canvas #[span Navigation] Variations
      
      .submenu
        .submenu__item
         a(href="https://github.com/eisenfox/off-canvas-navigation" title="Check on GitHub" target="_blanc") 
            i(class="material-icons") toc
            | Check on GitHub
        .submenu__item
          a(href="http://100dayscode.co.uk/" title="Check Codepen Challenge" target="_blanc") 
            i(class="material-icons") toc
            | Check Codepen Challenge
            
      h2 Click the button to change the demo
            
      //demo buttons
      .demo-btns
        
        button.demo-btn.js-active(type="button") Demo 1
          
        button.demo-btn(type="button") Demo 2
          
        button.demo-btn(type="button") Demo 3
          
        button.demo-btn(type="button") Demo 4
          
        button.demo-btn(type="button") Demo 5
    
      
      
    
  
    
